@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px) 
and (orientation : portrait) { 

/* Intro Section */

.intro {
  	width: 100%;
  	position: relative;
  	background-position: center center; 
  	background-repeat: no-repeat;
 	background-size: cover;
  	background-color: #9D9D9D;
}
.parallax-window {
    background: transparent;
}
.intro__container {
	padding: 70px 15px;
  	margin: 0 auto;
  	text-align: center;
}
.intro__tagline {
    margin-bottom: 26px;
    vertical-align: middle;
    font-size: 32px;
    font-weight: 300;
    line-height: 110%;
    color: #FFF;
}
.intro__subtext {
	font-weight: normal;
	display: none;
	font-style: italic;
	font-size: 24px;
}
.intro__button {
    border-radius: 4px;
    border: 1px solid #03A32C;
    border-bottom: 3px solid #028423;
    background-color: #03A32C;
    color: #FFF;
    padding: 12px 20px;
    margin-bottom: 16px;
    cursor: pointer;
    width: 100%;
    font-weight: bold;
    font-size: 15px;
}
.intro__button:hover {
	border: 1px solid #038A25;
	border-bottom: 3px solid #038A25;
	background-color: #038A25;
}
.intro__contact {
	color: #FFF;
	font-size: 15px;
	margin-top: 10px;
}
.intro__contact i {
	width: 15px;
}

/* Cities Section */

.cities {
	height: 60px;
	background-color: #222;
	opacity: .9;
}
.cities__container {
	margin: 0 auto;
	padding: 15px;
}
.cities__header {
	color: #FFF;
	margin-top: 6px;
	font-size: 18px;
	text-align: center;
}
.cities__header i {
	color: #03A72D;
}
.cities__block {
	display: none;
	float: left;
	padding: 8px 12px;
	color: #FFF;
	font-size: 14px;
	cursor: default;
}
.cities__container .fa-circle {
	display: none;
	float: left;
	color: #FFF;
	font-size: 3px;
	margin-top: 7px;
	padding: 5px;
}
.cities__block:hover {
	color: #03A72D;
	cursor: pointer;
}

/* Map Section */

#map {
	width: 100%;
	height: 440px;
}

/* Properties Section */

.properties {
	background-color: #F0F7FC;
}
.properties__container {
  	margin: 0 auto;
  	position: relative;
  	padding: 40px 15px;
}
.properties__header {
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    color: #444;
    margin-bottom: 30px;
    line-height: 120%;
}
.properties__list li {
	background-color: #FFF;
	position: relative;
	width: 100%;
	display: inline-block;
	margin-bottom: 15px;
}
.property__image {
	width: 100%;
}
.property__location {
    position: absolute;
    text-align: center;
    background-color: #333;
    opacity: .85;
    width: 100%;
    bottom: 0px;
    padding: 13px 0px;
    cursor: pointer;
}
.property__location h2 {
	color: #FFF;
	font-weight: bold;
    font-size: 16px;
}

/* About Section */

#anchor__about{
	float: left; 
	margin-top:-75px;
}
.about {
	background-color: #FFF;
}
.about__container {
  	margin: 0 auto;
  	position: relative;
  	padding: 40px 15px;
 }
.about__header {
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    color: #444;
    margin-bottom: 30px;
    line-height: 120%;
}
.about__intro {
	margin-bottom: 20px;
	color: #777;
	font-size: 19px;
	line-height: 25px;
 }
.about__tagline {
	margin-bottom: 20px;
	color: #777;
	font-size: 19px;
	line-height: 25px;
}
.about__intro span {
	font-weight: bold;
 	color: #205081;
 }
.about__paragraph {
 	font-weight: 200;
 	font-size: 15px;
  	line-height: 22px;
 }

/* Logo Section */

.logos {
	background-color: #F2F2F2;
	padding: 40px 15px;
}
.logos__container {
  	margin: 0 auto;
  	position: relative;
  	text-align: center;
 }
.logos__title {
 	color: #555;
  	font-size: 16px;
  	font-weight: 400;
  	letter-spacing: 2px;
  	text-transform: uppercase;
  	text-align: center;
  	margin-bottom: 20px;
}
.logos__image {
	margin: 0 auto;
	margin: 0px 50px;
}

}